.back{
  position: absolute;
  bottom: 44px;

  display: flex;
  align-items: center;
  cursor: pointer;
}
i {
  border: solid #000000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 8px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

