/* PROJECT COLORS */
$color-white: #fff;
$color-black: #000;
$color-red: #EB001B;
$color-green: #43b66a;


/* -- COLORS SECTION -- */
$color-border: #EBEBEB;
$color-danger: $color-red;

$font-family: 'Roboto', sans-serif;
$font-input-text: 400 0.875rem/1.2 $font-family;